.section {
  display: flex;
  flex-direction: column;
  align-items: center; 
 }
 
 .three-column-section .img-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-section {
  background: #333;
  width: 100%;
  color: #fff;
}

.dark-section a {
  color: #ddd;
}

.dark-section a:hover {
  color: #fff;
}

.footer-section, .top-section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
} 